.container {
  height: 1200px;
  width: 800px;
  overflow: scroll-y;
  border: 1px solid;
  .img {
    width: 200px;
    height: 200px;
    margin-right: 10px;
  }
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}
